<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Social NVP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  href="style.css">
    <style>
    .navbar-custom {
        height: 75px;
        color: #FFFFFF;
        background-color: grey;
        padding-left: 10px;
        padding-top: 15px;
    }
    #header img{
      padding-top: 5px;
      position: relative;
      width: 30px;
      height: 35px;
    }
    #header h1{
      padding-left: 3px;
      color: white;
      float: right;
      margin: 0;
    }
    #header a{
      text-decoration: none;
      color: white;
    }
    </style>
</head>
<body>
    <div id="menu" class="navbar navbar-default navbar-custom">
      <div class="navbar-header" id="header">
        <!-- <div class="collapse navbar-collapse"> -->
          <!-- <img src="/static/nvpImage.png" alt="Nvp logo" height="50" width="50"> -->
          <a href="/">
          <img src="/static/nvpImage.png" alt="Nvp logo" height="50" width="50" href="index.html">
          <h1>Social</h1>
          </a>
    </div>

    <h1>You are now loged In as {{username}}</h1>
</body>

</html>
