<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Social NVP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  href="style.css">
    <style>
    .navbar-custom {
        height: 75px;
        color: #FFFFFF;
        background-color: grey;
        padding-left: 10px;
        padding-top: 15px;
    }
    #header img{
      padding-top: 5px;
      position: relative;
      width: 30px;
      height: 35px;
    }
    #header h1{
      padding-left: 3px;
      color: white;
      float: right;
      margin: 0;
    }
    #header a{
      text-decoration: none;
      color: white;
    }
    </style>
</head>
<body>
    <div id="menu" class="navbar navbar-default navbar-custom">
      <div class="navbar-header" id="header">
        <!-- <div class="collapse navbar-collapse"> -->
          <!-- <img src="/static/nvpImage.png" alt="Nvp logo" height="50" width="50"> -->
          <a href="/">
          <img src="/static/nvpImage.png" alt="Nvp logo" height="50" width="50" href="index.html">
          <h1>Social</h1>
          </a>
    </div>
  </div>
  <div class="container">
                <form class="form-group col-lg-14" action="{{url_for('registering')}}" method="POST">
                    <div class="row">
                      <br>
                      <br>
                      <h3>Sign Up</h3>
                      <div class= "form-group col-lg-14">
                        <input type="name" name="firstName" class="form-control" placeholder="first name" required="" autofocus="">
                        <br>
                        <input type="name" name="lastName" class="form-control" placeholder="last name" required="" autofocus="">
                        <br>
                        <input type="name" placeholder="company/team" class="form-control" name="company">
                        <br>
                        <input type="number" name="phoneNumber" class="form-control" placeholder="phone number" required="" autofocus="">
                        <br>
                        <input class="form-control" placeholder="Email Address" type="name" name="email">
                        <br>
                        <input class="form-control" placeholder="new password" type="password" name="password">
                        <br>
                        <br>
                        <center><button class="btn btn-lg btn-primary" type="submit">Submit</button></center>
                      </div>
                    </div>
                </form>
  </div>
</body>

</html>
